<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>House_Info_manage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>Bean.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>show_img</display-name>
    <servlet-name>show_img</servlet-name>
    <servlet-class>Bean.show_img</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>show_img</servlet-name>
    <url-pattern>/show_img</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHouseInfo</display-name>
    <servlet-name>DeleteHouseInfo</servlet-name>
    <servlet-class>house.servlet.DeleteHouseInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHouseInfo</servlet-name>
    <url-pattern>/DeleteHouseInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>house.servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetHotSale</display-name>
    <servlet-name>SetHotSale</servlet-name>
    <servlet-class>house.servlet.SetHotSale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetHotSale</servlet-name>
    <url-pattern>/SetHotSale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMessage</display-name>
    <servlet-name>DeleteMessage</servlet-name>
    <servlet-class>house.servlet.DeleteMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessage</servlet-name>
    <url-pattern>/DeleteMessage</url-pattern>
  </servlet-mapping>
</web-app>